@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* overflow: hidden; */
}
html,body{
    min-height: 100vh;
}
.container{
    display: flex;
    justify-content:center;
    align-items: center;
}
.left{
    width: 32vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.instaImage{
    width: 100%;
}
.left img{
    width: 100%;
}
.top{
    border-radius: 1px;
    border: 1px solid lightgrey;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 1rem;
}
.right{
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 26vw;
    
}
.loginInstaImg{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.input:focus{
    border: 1px solid grey;
    outline: none;
}
.error{
    color:#ed4d59;
    text-align: center;
    font-size: 0.9rem;
    margin: 1rem 2rem 2rem 2rem ;
    font-family: 'Roboto', sans-serif;
}
.input{
    width: 80%;
    padding: 0.6rem;
    background-color: #fafafa;
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin: 0.2rem 0;
    color: #444;;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
}
.inputBtn{
    width: 80%;
    padding: 0.5rem;
    background-color: #4bb4f8;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin: 0.7rem;
    font-weight: 800;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.line{
    border-top: 1px solid lightgrey;
    margin: 0 1rem;
    width: 33%;
}
.orSection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #8e8e8e;
    font-weight: 700;
    font-size: 0.8rem;
    margin: 0.5rem 0;
    font-family: 'Roboto', sans-serif;
}
.facebook{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #385185;
    font-size: 0.9rem;
    margin: 1rem;
    cursor: pointer;
    font-weight: 800;
}
.forgetPassword{
    font-family: 'Roboto', sans-serif;
    color: #324a80;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
    text-align: center;
    cursor: pointer;
}
.bottom{
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 ;
    border-radius: 1px;
    border: 1px solid lightgrey;
    height: 4rem;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
    
}
.signup{
    color: #4bb4f8;
    font-weight: 600;
    cursor: pointer;
}


.getApp{
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.getAppIcons{
    display: flex;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.getAppIcons img{
    height: 2.5rem;
    cursor: pointer;
    margin: 0 0.2rem;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    color: grey;
    margin: 3rem 12rem;
}
.footer p{
    margin:0.6rem;
}
.check{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 1rem 0;
    font-family: 'Roboto', sans-serif;
    font-size: 0.7rem;
}
@media only screen and (max-width: 800px) {
    .check{
        width: 65%;
    }
    .left{
        display: none;
    }
    .right{
        width: 100%;
        margin: 0;
    }
    .footer{
        margin: 1rem;
    }
    .top{
        height: 29rem;
        border: none;
        margin: 0;
    }
    .bottom{
        border: none;
    }
    .input{
        width: 65%;
    }
    .inputBtn{
        width: 65%;
    }
    .line{
        width: 25%;
    }
}







/* <============================Navbar==========================> */
.Navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 4rem;
    background-color: white;
    border-bottom: 1px solid lightgrey;
}
.Navbar input{
    background-color: #efefef;
    border: none;
    font-size: 0.9rem;
}
.Navbar input:focus{
    outline: none;
}
.lFirst{
    padding: 0.5rem 1.2rem;
    background-color: #0095f6;
    color: white;
    border-radius: 0.5rem;
    border: none;
    margin: 0.5rem;
    cursor: pointer;
}
.lSecound{
    cursor: pointer;
    color: #0095f6;
    background: none;
    border: none;
}
.instaImg{
    height: 2.4rem;
}
.searchPng{
    height: 1rem;
    margin: 0 0.5rem;
}
.search{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
    padding: 0.7rem 2rem 0.7rem 0.7rem;
    border: none;
    border-radius: 0.5rem;
    color: lightgrey;
}
.Main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    margin: 3rem;
    min-height: 60vh;
}
.other-Heading{
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1.7rem;
}
.other-Paragraph{
    text-align: center;
    font-size: 1rem;
    font-family: 'Hind Siliguri', sans-serif;
    margin: 1.5rem;
}

.overLay{

    min-height: 7rem;
    position: absolute;
    /* top: 0; */
    bottom: 0;
    z-index: 4;
    right: 0;
    left: 0;
    background-color:#000000d0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.p-h{
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 1rem;
    margin: 0 1rem 0 0;
}
.p-p{
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 0.9rem;
    margin:  0 1rem 0 0;
}
.left-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.right-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginBtns-D{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lFirst2{
    cursor: pointer;
    padding: 0.5rem 1.2rem;
    background-color: #0095f6;
    color: white;
    border-radius: 0.5rem;
    border: none;
    margin: 0.5rem;
}
@media only screen and (max-width: 800px) {
    .lFirst2{
        padding: 0.5rem 30vw;
    }
    .overLay{
        min-height: 30vh;
    }
    .Main{
        min-height: 55vh;
    }
    .search{
        display: none;
    }
}